
@{
    ViewBag.Title = "DLDetails";
}
@{
    if (Request.Cookies.Get("tAdmin") != null)
    {

        string t = Request.Cookies.Get("tAdmin").Value;
        if (t == "Yes")
        {
            @section nav{
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("Home", "Index", "TPHome", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">

                                <li>@Html.ActionLink("PUC", "index", "PUCs")</li>
                                <li>@Html.ActionLink("RC BOOK", "index", "RCs")</li>
                                <li>@Html.ActionLink("DL", "index", "DLs")</li>
                                <li>@Html.ActionLink("TraficPolice", "index", "Admin")</li>
                                <li>@Html.ActionLink("Rules", "index", "RULES")</li>
                                <li>@Html.ActionLink("Log Out", "Logout", "TrafficLogin")</li>
                            </ul>


                        </div>
                    </div>
                </div>
            }
        }


    }
    else
    {
        @section nav{
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Home", "Index", "TPHome", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">


                            <li>@Html.ActionLink("Log Out", "Logout", "TrafficLogin")</li>
                        </ul>


                    </div>
                </div>
            </div>
        }
    }

}



<h2>DLDetails</h2>

@model PoliceAdmin.Models.DL




<div>
    <h4>DL</h4>
    <hr />
    <dl class="dl-horizontal">
        

       

        <dt>
            @Html.DisplayNameFor(model => model.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicletype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicletype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerAddress)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.AadharNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AadharNo)
        </dd>

    </dl>
</div>
<p>
  
    @Html.ActionLink("Make A challan", "challanDL", new { id = Model.LicenceNo })
</p>
